[Unit]
Description=Dropbear Session Manager Service
Wants=xyz.openbmc_project.SessionManager.service
Wants=dropbear.socket
After=xyz.openbmc_project.SessionManager.service
After=dropbear.socket

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/dropbear-manager

[Install]
WantedBy=multi-user.target

