[Unit]
Description=Session Management Service
Wants=bmcweb.service
After=bmcweb.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/session-management

[Install]
WantedBy=multi-user.target
